.btn {
  color: $white;
  display: inline-block;
  font-family: $font-family--primary;
  outline: none;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  -webkit-user-select: none;
  &:hover {
    box-shadow: 0px 4px 10px rgba(0,0,0,.3);
  }
  @include m(medium) {
    width: 150px;
    padding: 10px 20px
  };
  @include m('blue') {
    background: $blue-light;
    &:hover { background: rgba($blue-light, 0.9); }
  };
  @include m('red') {
    background: $red-light;
    &:hover { background: rgba($red-light, 0.9); }
  };
}
.belt {
  padding: 8px 10px;
  color: white;
  border-radius: 50%;
  margin-right: 20px;
  @include m('red') {
    background: rgba(red, 0.7);
  }
  @include m('blue') {
    background: rgba(blue,.7);
  }
  @include m('green') {
    background: rgba(green,.7);
  }
  @include m('yellow') {
    background: rgba(yellow,.7);
  }
  @include m('black') {
    background: rgba(black,.7);
  }
}
