// Font stacks
$font-family--primary : 'Roboto', 'Helvetica Neve', Helvetica, Arial, sans-serif;
$font-family--seconday : 'Lato', 'Helvetica Neve', Helvetica, Arial, sans-serif;

// Font-weights

$font-weight--min: 100;

// Font-size:
$base__font-size : 1.2em;
$font-size--medium : 1.6em;
$font-size--big : 2.4em;
$base__font-line : 2.4em;
