.max-container
  %section.content
    .content__column
      %h1
        HOME PAGE!
    %random-ninja.text--center{"ninjas"=>"ninjas.data", "title"=>"'Random ninja'"}
      %h3
        My new random ninja
