.max-container
  %section.content
    .content__column
      %h1
        HOME PAGE!
    .content__column.container__flex--center
      %random-ninja.text--center{"ninjas"=>"ninjas.data", "title"=>"'Random ninja'"}
