.menu
  .menu__row
    %h1.menu__logo
      Ninja Directory
  .menu__row
    %ul
      %li.menu__link
        %a{:href => "#"}
          Home
      %li.menu__link
        %a{:href => "#"}
          List Ninjas
